#dojo-logo {
	height: 40px;
	width: 150px;
}

.jumbotron {
	background: url('stardust.png');
	height: 250px;
	margin-bottom: 10px;
}

#tagline {
	color: white;
	display: inline-block;
}

#ghlogo {
	height: 50px;
	width: 50px;
	margin-left: 20px;
}

.img-circle {
	height: 75px;
	width: 75px;
	display: inline-block;
}

.col-md-4 {
	border:1px solid #eee;
}
.user-info{
	display: block;
}

.user-content {
	display: inline;
}

.col-xs-3 {
	margin: 10px 0px;
}

#cody-user-info {
	margin-bottom: 20px;
}

#matt-user-info {
	margin-bottom: 20px;
}

#curtis-user-info {
	margin-bottom: 20px;
}

#search-users {
	width: 25%;
	display: inline;
	margin-left: 10px;
}

#search-row {
	margin-left: 10px;
}

li {
	list-style-type: none;
}

#search-pic {
	height: 75px;
	width: 75px;
	display: inline-block;
}

#search-info h4 {
	display: block;
}

#user-results {
	margin-top: 10px;
}

#loader	{
	margin-left: 25px;
}


